
<!-- templates/database_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Database Details</title>
    <style>
        table {
            width: 40%;
            border-collapse: collapse;
            padding-left: 50px;
          
        }
        th, td {
            padding: 8px;

            text-align: left;
            border-bottom: 1px solid #2a2828;
        }
        th {
            background-color: #f2f2f2;
        }
        .table1{
            padding-left: 30px;

        }
    </style>
</head>
<body><div class="table1">
    <h2>User Details</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<br>

    <h1>donor</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Blood Group</th>
                <th>District</th>
                <th>Taluk</th>
                <!-- <th>Donation Date</th> -->
            </tr>
        </thead>
        <tbody>
            {% for donor in donors %}
                <tr>
                    <td>{{ donor.name }}</td>
                    <td>{{ donor.phone }}</td>
                    <td>{{ donor.blood_group }}</td>
                    <td>{{ donor.district }}</td>
                    <td>{{ donor.taluk }}</td>
                    <!-- <td>{{ donor.donation_date }}</td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>
    <h1>requested blood list</h1>
    <table>
        <thead>
            <tr>
                <th>Patient</th>
                <th>Hospital</th>
                <th>Blood Group</th>
                <th>District</th>
                <th>Taluk</th>
                <!-- <th>Donation Date</th> -->
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.patient_name }}</td>
                    <td>{{ patient.hospital_name }}</td>
                    <td>{{ patient.blood_group1 }}</td>
                    <td>{{ patient.district }}</td>
                    <td>{{ patient.taluk }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br>
    <button><a href="{{url_for('homepage')}}"class="btn btn-primary">Back To Home</a></button>
</div>
</body>
</html>